.dashboard {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard .div {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .dashboard .main {
    align-items: flex-start;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 944px;
    justify-content: center;
    left: 330px;
    padding: 50px;
    position: relative;
    top: 20px;
    width: 100%;
  }
  
  .dashboard .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .cards {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    position: relative;
  }
  
  .dashboard .div-2 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 30px;
    position: relative;
    width: 978px;
  }
  
  .dashboard .card {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00000003;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 20px;
    padding: 30px;
    position: relative;
  }
  
  .dashboard .icon {
    height: 50px;
    position: relative;
    width: 50px;
  }
  
  .dashboard .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .dashboard .text-wrapper-2 {
    color: #222222;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .text-wrapper-3 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .card-2 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00000003;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    position: relative;
    width: 642px;
  }
  
  .dashboard .div-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .dashboard .text-wrapper-4 {
    color: #222222;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .div-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    justify-content: center;
    position: relative;
  }
  
  .dashboard .text-wrapper-5 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dashboard .text-wrapper-6 {
    color: #222222;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dashboard .polygon {
    height: 5.3px;
    position: relative;
    width: 5.91px;
  }
  
  .dashboard .graph {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 15px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .dashboard .numbers-side {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin-left: -0.5px;
    position: relative;
  }
  
  .dashboard .text-wrapper-7 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dashboard .text-wrapper-8 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .dashboard .result {
    height: 180px;
    position: relative;
    width: 447px;
  }
  
  .dashboard .frame-2 {
    align-items: flex-end;
    background-image: url(/public/static/img/frame-6-2.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 150px;
    justify-content: space-between;
    left: 0;
    padding: 10px 50px 0px;
    position: absolute;
    top: 0;
    width: 447px;
  }
  
  .dashboard .bars {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    justify-content: center;
    position: relative;
  }
  
  .dashboard .rectangle {
    background-color: #c94e4e;
    border-radius: 5px 5px 0px 0px;
    height: 39px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-2 {
    background-color: var(--accent);
    border-radius: 5px 5px 0px 0px;
    height: 73px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-3 {
    background-color: #c94e4e;
    border-radius: 5px 5px 0px 0px;
    height: 74px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-4 {
    background-color: var(--accent);
    border-radius: 5px 5px 0px 0px;
    height: 102px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-5 {
    background-color: #c94e4e;
    border-radius: 5px 5px 0px 0px;
    height: 28px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-6 {
    background-color: var(--accent);
    border-radius: 5px 5px 0px 0px;
    height: 120px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-7 {
    background-color: var(--accent);
    border-radius: 5px 5px 0px 0px;
    height: 66px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-8 {
    background-color: #c94e4e;
    border-radius: 5px 5px 0px 0px;
    height: 48px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-9 {
    background-color: var(--accent);
    border-radius: 5px 5px 0px 0px;
    height: 82px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-10 {
    background-color: #c94e4e;
    border-radius: 5px 5px 0px 0px;
    height: 54px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .rectangle-11 {
    background-color: var(--accent);
    border-radius: 5px 5px 0px 0px;
    height: 130px;
    position: relative;
    width: 8px;
  }
  
  .dashboard .group {
    height: 15px;
    left: 46px;
    position: absolute;
    top: 165px;
    width: 369px;
  }
  
  .dashboard .text-wrapper-9 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 64px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .text-wrapper-10 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .text-wrapper-11 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 130px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .dashboard .text-wrapper-12 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 196px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .dashboard .text-wrapper-13 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 261px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .dashboard .text-wrapper-14 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 326px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .dashboard .legend {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    margin-right: -0.5px;
    position: relative;
  }
  
  .dashboard .frame-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .dashboard .ellipse {
    background-color: var(--accent);
    border-radius: 3px;
    height: 6px;
    position: relative;
    width: 6px;
  }
  
  .dashboard .text-wrapper-15 {
    color: #222222;
    font-family: "Inter", Helvetica;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .ellipse-2 {
    background-color: #c94e4e;
    border-radius: 3px;
    height: 6px;
    position: relative;
    width: 6px;
  }
  
  .dashboard .card-3 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00000003;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    padding: 30px;
    position: relative;
  }
  
  .dashboard .top {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 5px;
    position: relative;
    width: 100%;
  }
  
  .dashboard .ellipse-wrapper {
    background-image: url(/public/static/img/ellipse-9.svg);
    background-size: 100% 100%;
    height: 137px;
    position: relative;
    width: 137px;
  }
  
  .dashboard .img {
    height: 128px;
    left: 0;
    position: absolute;
    top: 0;
    width: 68px;
  }
  
  .dashboard .legend-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  
  .dashboard .ellipse-3 {
    background-color: #8bdfb2;
    border-radius: 3px;
    height: 6px;
    position: relative;
    width: 6px;
  }
  
  .dashboard .ellipse-4 {
    background-color: #e980d2;
    border-radius: 3px;
    height: 6px;
    position: relative;
    width: 6px;
  }
  
  .dashboard .card-4 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #00000003;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    padding: 30px;
    position: relative;
  }
  
  .dashboard .numbers-side-2 {
    height: 156px;
    position: relative;
    width: 58px;
  }
  
  .dashboard .text-wrapper-16 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 48px;
  }
  
  .dashboard .text-wrapper-17 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    white-space: nowrap;
    width: 42px;
  }
  
  .dashboard .text-wrapper-18 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
    white-space: nowrap;
    width: 40px;
  }
  
  .dashboard .text-wrapper-19 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 105px;
    white-space: nowrap;
    width: 34px;
  }
  
  .dashboard .text-wrapper-20 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 143px;
    white-space: nowrap;
    width: 8px;
  }
  
  .dashboard .result-2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
    position: relative;
  }
  
  .dashboard .frame-4 {
    height: 150px;
    object-fit: cover;
    position: relative;
    width: 855px;
  }
  
  .dashboard .text-wrapper-21 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .dashboard .sidebar {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 944px;
    justify-content: space-between;
    left: 0;
    padding-top: 50px;
    position: fixed;
    top: 80px;
    width: 300px;
  }
  
  .dashboard .top-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 35px;
    position: fixed;
  }
  
  .dashboard .name {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    padding: 0px 30px;
    position: relative;
  }
  
  .dashboard .new-wrapper {
    background-image: url(/public/static/img/ellipse-6.svg);
    background-size: 100% 100%;
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .dashboard .new {
    height: 25px;
    left: 12px;
    position: relative;
    top: 7px;
    width: 16px;
  }
  
  .dashboard .overlap-group {
    height: 25px;
    position: relative;
  }
  
  .dashboard .vector {
    height: 20px;
    left: 4px;
    position: absolute;
    top: 5px;
    width: 10px;
  }
  
  .dashboard .ellipse-5 {
    height: 6px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 6px;
  }
  
  .dashboard .ellipse-6 {
    height: 6px;
    left: 1px;
    position: absolute;
    top: 3px;
    width: 6px;
  }
  
  .dashboard .ellipse-7 {
    height: 6px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 6px;
  }
  
  .dashboard .text-wrapper-22 {
    color: #222222;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dashboard .links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 703px;
    position: relative;
    width: 300px;
  }
  
  .dashboard .frame-5 {
    align-items: center;
    align-self: stretch;
    background-color: #5c4ec90d;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    padding: 8px 30px 8px 0px;
    position: relative;
    width: 100%;
  }
  
  .dashboard .rectangle-12 {
    background-color: #98c93a;
    border-radius: 0px 3px 3px 0px;
    height: 20px;
    position: relative;
    width: 5px;
  }
  
  .dashboard .img-2 {
    height: 30px;
    position: relative;
    width: 30px;
  }
  
  .dashboard .text-wrapper-23 {
    color: #98c93a;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .frame-6 {
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .dashboard .frame-7 {
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    padding: 8px 30px;
    position: relative;
    width: 100%;
  }
  
  .dashboard .text-wrapper-24 {
    color: #222222;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .trolley {
    height: 28px;
    object-fit: cover;
    position: relative;
    width: 28px;
  }
  
  .dashboard .seperator {
    align-self: stretch;
    background-color: #dbdbdb;
    border-radius: 2px;
    height: 2px;
    position: relative;
    width: 100%;
  }
  
  .dashboard .log-out {
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    margin-top: -1px;
    padding: 8px 30px;
    position: fixed;
    width: 100%;
  }
  
  .dashboard .navbar {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px #0000000d;
    display: flex;
    height: 50px;
    justify-content: space-between;
    left: 0;
    padding: 35px 60px;
    position: fixed;
    top: 0;
    width: 95%;
  }
  
  .dashboard .left {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 60px;
    position: relative;
  }
  
  .dashboard .logo {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 15px;
    position: relative;
  }
  
  .dashboard .logo-greenbelt {
    height: 80.97px;
    position: relative;
    width: 250px;
  }
  
  .dashboard .links-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 35px;
    justify-content: center;
    position: relative;
  }
  
  .dashboard .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    height: 80px;
    justify-content: center;
    position: relative;
  }
  
  .dashboard .frame-8 {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #98c93a;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 80px;
    justify-content: center;
    position: relative;
  }
  
  .dashboard .polygon-2 {
    height: 11px;
    position: relative;
    width: 11px;
  }
  
  .dashboard .frame-9 {
    align-items: center;
    background-color: #98c93a;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 8px 15px;
    position: relative;
  }
  
  .dashboard .text-wrapper-25 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .right {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
  }
  
  .dashboard .login {
    align-items: center;
    border: 1px solid;
    border-color: #dbdbdb;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    position: relative;
    width: 250px;
  }
  
  .dashboard .charm-search {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .dashboard .text-wrapper-26 {
    color: #22222280;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard .ph-gear-fill {
    height: 25px;
    position: relative;
    width: 25px;
  }
  
  .dashboard .overlap-group-2 {
    height: 22px;
    left: 3px;
    position: relative;
    width: 20px;
  }
  
  .dashboard .vector-2 {
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 19px;
  }
  
  .dashboard .ellipse-8 {
    background-color: #a096ee;
    border-radius: 3.5px;
    height: 7px;
    left: 13px;
    position: absolute;
    top: 0;
    width: 7px;
  }